.itemPanel {
  flex: 1;
  background: #fafafa;
  border-right: 1px solid #e6e9ed;
}

.itemPanel .ant-card {
  background: #fafafa;
}

.itemPanel .ant-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemPanel .ant-card-body>div {
  margin-bottom: 16px;
}